certifi==2025.8.3
charset-normalizer==3.4.3
greenlet==3.2.4
idna==3.10
pendulum==3.0.0
python-dateutil==2.8.2
requests==2.32.4
six==1.16.0
typing-extensions==4.14.1
urllib3==2.5.0
pymongo==4.14.1
nest-asyncio==1.6.0
boto3==1.35.50
botocore==1.35.50
yt-dlp==2024.8.6
mutagen==1.47.0
