pymongo
requests
python-dotenv
boto3
yt-dlp
mutagen
anyio
pyOpenSSL
cryptography
selenium
opencv-python
numpy
pillow
pytest
pytest-cov
pytest-mock
pytest-asyncio
fastapi
uvicorn[standard]
dagster
dagster-webserver
dagster-postgres
dagster-docker
psutil
